<ion-view view-title="Professores e Estúdios">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/pat-2.jpg');"></span>
                    <strong>Patrícia Andrade</strong>
                    <p>Professora de Yoga</p>
                    <p><i class="icon ion-ios-location-outline"></i> Asa Norte, Lago Norte</p>
                </div>
            </div>
        </div>
        
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/logo-grd-3.jpg');"></span>
                    <strong>Guru Ram Das</strong>
                    <p>Estúdio de Yoga</p>
                    <p><i class="icon ion-ios-location-outline"></i> Asa Norte</p>
                </div>
            </div>
        </div>
        
        
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/dsc2482.jpg');"></span>
                    <strong>Soraya Diniz Farah</strong>
                    <p>Professora de Yoga</p>
                    <p><i class="icon ion-ios-location-outline"></i> Lago Sul</p>
                </div>
            </div>
        </div>
        

    </ion-content>
</ion-view>
